{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Purchase Airtime</h1>
<body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <img src="{% static 'finweb/images/mtn.jpg' %}" class="img-fluid" alt="Image">
                </div>
                <div class="col-md-6">
                  <h4 class="card-title text-right">MTN VTU AIRTIME</h4>

                  <form method="post" action="{% url 'airtime' %}">

                    {% csrf_token %}

                    <div class="form-group">
                      <label for="phoneNumber">Phone Number</label>
                      <input type="text" class="form-control" id="phoneNumber" name="phone_number" placeholder="Enter phone number">

                    </div>
                    <div class="form-group">
                      <label for="amount">Amount</label>
                      <input type="text" class="form-control" id="amount" name="amount" placeholder="Enter amount">
                    </div>
                    <div class="form-group">
                      <label for="email">Email Address</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                    </div>
                    <div class="text-right">
                        <br>
                      <button type="submit" class="btn btn-primary">Continue</button>
                      <a href="#" class="btn btn-secondary ml-2">Back</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}